<div ng-app="app">

  <div ng-controller="favoritesCtrl">

<img src="/assets/map.png" class="img-background">

<div id="background">
  <div class="teachable-logo"><%= image_tag "teachable-logo.png" %></div>
    <div class="search-button <%= 'current-page' if request.path == '/' %>">
    <a href="/" id="menu">Search</a></div>
    <div class="fav-button <%= 'current-page' if request.path == '/favorites' %>">
    <a href="/favorites" id="menu">Favorites</a></div>
</div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-3">
          <h1>Your Favorite Gems</h1>
            <ul ng-repeat='gem in gemArray track by $index'>
              <li><a ng-href="https://rubygems.org/search?utf8=✓&query={{ gem }}"> {{ gem }} </a> <img src="/assets/star-blue" ng-click="remove($index)" onclick="addToListFavGems(this)"/></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>