// #background {
//     background-image: url("images/map.png");
//     float: left;
//     display: block;
//     width: auto;
//     height: auto;
//     max-width: 100%;
//     max-height: 90%;
//     margin: 20px auto;
// }

.current-page {
  background: rgba(204, 204, 204, 0.2);
  width: 130px;
  color: white;
}

.teachable-logo {
  position: absolute;
  left: 420px;
  top: 50px;
}

.search-button {
  position: absolute;
  left: 400px;
  top: 400px;
  font-family: "Lato";
  color: #FFF;
  padding: 10px;
}

.fav-button {
  position: absolute;
  left: 400px;
  top: 430px;
  padding: 10px;
  font-family: "Lato";
  color: #FFF;
}

.img-background {
	float: left;
	display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
}

// .left-container {
// 	background-image: url('map.png');
// 	float: left;
// 	display: block;
//     width: auto;
//     height: auto;
//     max-width: 100%;
//     max-height: 90%;
//     margin: 20px auto;
// }

.container {
	position: relative;
	top: 150px;
    float: left;
    width: 40%;
}

.search-form .form-group {
  float: left;
  width: 500px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  padding-top: 20px;
}

.glyphicon-search {
  padding-top:10px;
}

h1 {
	font-family: "Lato";
}

p {
	font-family: "Lato";
	width: 500px;
}
